@font-face {
  font-family: 'Mechanization';
  src: url('./fonts/Mechanization.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenueX-Regular';
  src: url('./fonts/AvenueX-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Elektra';
  src: url('./fonts/Elektra.ttf') format('truetype');
}

@font-face {
  font-family: 'Amperzand';
  src: url('./fonts/Amperzand.ttf') format('truetype');
}

@font-face {
  font-family: 'AstronBoyWonder';
  src: url('./fonts/AstronBoyWonder.ttf') format('truetype');
}

html {
  width: 100%;
}


body {
  font-family: 'Elektra', sans-serif;
  background: linear-gradient(to bottom, #560078, #000060);
  color: white;
  width: 100%;
  /* font-size: clamp(2rem, 5vw, 3rem); */
  margin: 0;
  overflow: scroll;
  min-height: 100vh;
}

body * {
  max-width: 100%;
  overflow: hidden;
}

h1 {
  margin: 0;
}
h2 {
  font-family: 'Amperzand', sans-serif;
  margin: 0;
  display: inline;
}

a {
  font-family: 'AvenueX-Regular', sans-serif;
}

img {
  width: 100px;
  height: 100px;
  
}

ul {
  margin: 0;
  padding: 0;
}